---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined 
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}  -->

<br>
<font size="3">
(* denotes equal contribution, † co-senior) 
</font>
<ol>
<li> <b> Interpretable deep learning for deconvolutional analysis of neural signals</b> <br> B. Tolooshams*, <b>S. Matias*</b>, H. Wu, S. Temereanca, N. Uchida, V.N. Murthy, P. Masset†, D. Ba† <br> <i>Neuron</i> 2025 [<a href="https://doi.org/10.1016/j.neuron.2025.02.006">paper</a>][<a href="https://github.com/btolooshams/dunl-compneuro">code</a>] <!-- 12:S0896-6273(25)00119-9. DOI: [10.1016/j.neuron.2025.02.006](). PMID: 40081364 --> <br> <font size="3"> <u> Highlights and News: </u></li>
  <ul>
    <li> Nature Methods research highlights: <a href="https://doi.org/10.1038/s41592-025-02715-1">Unraveling the black box in neural signal analysis</a> </li>
    <li> Nature Neuroscience research highlights:  <a href="https://doi.org/10.1038/s41593-025-01938-x">Opening the deep learning box</a>  </li>
    <li> Kempner Institute news:  <a href="https://kempnerinstitute.harvard.edu/news/study-introduces-innovative-method-to-decode-complex-neural-data/">Study introduces innovative method to decode complex neural data</a>  </li>
    <li> Kempner Institute deep learning blog:  <a href="https://kempnerinstitute.harvard.edu/research/deeper-learning/mechanistic-interpretability-a-challenge/">Mechanistic interpretability: a challenge common to both artificial and biological intelligence</a>  </li>
    <li> Harvard University MCB department news:  <a href="https://www.mcb.harvard.edu/department/news/new-deep-learning-framework-reveals-hidden-structure-in-neural-activity/">New deep learning framework reveals hidden structure in neural activity</a> </li>
  </ul>
  <br>
  </font>
<li> <b> An opponent striatal circuit for distributional reinforcement learning</b> <br> A.S. Lowet, Q. Zheng, M. Meng, <b>S. Matias</b>, J. Drugowitsch, N. Uchida <br>  <i>Nature</i> 2025 [<a href="https://doi.org/10.1038/s41586-024-08488-5">paper</a>][<a href="https://github.com/alowet/distributionalRL">code</a>] <!--  639, 717–726. DOI: [10.1038/s41586-024-08488-5](doi.org/10.1038/s41586-024-08488-5) --> </li>
<li> <b> Prospective contingency explains behavior and dopamine signals during associative learning</b> <br> L. Qian*, M. Burrell*, J.A. Hennig, <b>S. Matias</b>, V. N. Murthy, S.J. Gershman, N. Uchida <br> <i>Nature Neuroscience</i> 2025 [<a href="https://doi.org/10.1038/s41593-025-01915-4">paper</a>][<a href="https://doi.org/10.6084/m9.figshare.28216202.v1">code</a>] <!-- DOI: [10.1038/s41593-025-01915](doi.org/10.1038/s41593-025-01915) --></li>
<li> <b> A gradual temporal shift of dopamine responses mirrors the progression of temporal difference error in machine learning </b> <br> R. Amo, <b>S. Matias</b>, A. Yamanaka, K.F. Tanaka, N. Uchida, M. Watabe-Uchida <br> <i>Nature Neuroscience</i> 2022 [<a href="https://doi.org/10.1038/s41593-022-01109-2">paper</a>] <!--, 25 (8), 1082-1092. DOI: [10.1038/s41593-022-01109-2](doi.org/10.1038/s41593-022-01109-2)PMCID: PMC9624460 --></li>
<li> <b> Distributional Reinforcement Learning in the Brain</b><br> A.S. Lowet, Q. Zheng, <b> S. Matias</b>, J. Drugowitsch, N. Uchida N <br> <i>Trends in Neurosciences</i> 2020 [<a href="https://doi.org/10.1016/j.tins.2020.09.004">paper</a>] <!--, 43 (12): 980-997. DOI: [10.1016/j.tins.2020.09.004](doi.org/10.1016/j.tins.2020.09.004). PMCID: PMC8073212 --> </li>
<li> <b> Activity patterns of serotonin neurons underlying cognitive flexibility </b> <br> <b>S. Matias*</b>, E. Lottem*, G.P. Dugué, Z.F. Mainen <br><i>eLife</i> 2017  [<a href="https://doi.org/10.7554/eLife.20552">paper</a>][<a href="https://datadryad.org/dataset/doi:10.5061/dryad.649nk">data</a>] <!--, 6:e20552. DOI: [10.7554/eLife.20552](doi.org/10.7554/eLife.20552). PMCID: PMC5360447. Data in the Dryad Repository with DOI: [10.5061/dryad.649nk](doi.org/10.5061/dryad.649nk) --> <br> <font size="3"> <u> Highlights and News: </u></li>
  <ul>
    <li> Neuroscience News highlights:<a href="https://neurosciencenews.com/serotonin-psychology-6252/">When Our World Turns ‘Upside-Down,’ Serotonin Helps Us Deal With It</a> </li>
    <li> Ar Magazine highlights: <a href="https://magazine.ar.fchampalimaud.org/when-our-world-turns-upside-down-serotonin-helps-us-deal-with-it/">When Our World Turns ‘Upside-Down,’ Serotonin Helps Us Deal With It</a> </li>
    <li> ScienceBeta:<a href="https://sciencebeta.com/serotonin-neuron-cognitive-flexibility/">Serotonin Neuron Activity Patterns Support Cognitive Flexibility</a> </li>
    <li> Medical Xpress: <a href="https://medicalxpress.com/news/2017-03-world-upside-down-serotonin.html">When Our World Turns ‘Upside-Down,’ Serotonin Helps Us Deal With It</a> </li>
  </ul>
  </font>
<li> <b> Stereotaxic adeno-associated virus injection and cannula implantation in the dorsal raphe nucleus of mice </b> <br> P.A. Correia, <b>S. Matias</b>, Z.F. Mainen <br><i>Bio-protocol</i> 2017 [<a href="https://bio-protocol.org/en/bpdetail?id=2549&type=0">paper</a>] <!--, 7 (18), e2549-e2549. DOI: [doi.org/10.21769/BioProtoc.2549](10.21769/BioProtoc.2549). PMCID: PMC5633075 --> </li>
<li> <b> Bonsai: an event-based framework for processing and controlling data streams </b> <br> G. Lopes, N. Bonacchi, J. Frazão, J.P. Neto, B.V. Atallah, S. Soares, L. Moreira, <b>S. Matias</b>, P.M. Itskov, P.A. Correia, R.E. Medina, L. Calcaterra, E. Dreosti, J.J. Paton, A.R. Kampff <br><i>Frontiers in neuroinformatics</i> 2015  [<a href="https://doi.org/10.3389/fninf.2015.00007">paper</a>] <!-- , 9. DOI: [10.3389/fninf.2015.00007](doi.org/10.3389/fninf.2015.00007). PMCID: PMC4389726 --> </li>
<li> <b> Balanced activity in basal ganglia projection pathways is critical for contraversive movements </b> <br> F. Tecuapetla, <b> S. Matias</b>, G.P. Dugué, Z.F. Mainen, R.M. Costa <br> <i>Nature Communications</i> 2014 [<a href="https://doi.org/10.1038/ncomms5315">paper</a>] <!--, 5:4315. DOI: [10.1038/s41593-022-01109-2](doi.org/10.1038/s41593-022-01109-2). PMCID: PMC4102112 --> </li>
<li> <b> Optogenetic recruitment of dorsal raphe serotonergic neurons acutely decreases mechanosensory responsivity in behaving mice </b> <br> G.P. Dugué, M.L. Lörincz, E. Lottem, E. Audero, <b>S. Matias</b>, P.A. Correia, C. Léna C, Z.F. Mainen ZF <br> <i>PloS One</i> 2014  [<a href="https://doi.org/10.1371/journal.pone.0105941">paper</a>] <!--, 9(8): e105941. DOI: [10.1371/journal.pone.0105941](doi.org/10.1371/journal.pone.0105941) PMCID: PMC4141837 --></li>
<li> <b> Electre Tri-C, a multiple criteria decision aiding sorting model applied to assisted reproduction</b> <br> J.R. Figueira, J. Almeida-Dias, <b>S. Matias</b>, B. Roy, M.J. Carvalho, C.E. Plancha <br> <i>International Journal of Medical Informatics</i> 2011 [<a href="https://doi.org/10.1016/j.ijmedinf.2010.12.001">paper</a>] <!--, 80(4). DOI:[10.1016/j.ijmedinf.2010.12.001](doi.org/10.1016/j.ijmedinf.2010.12.001). PMID: 21295515 </li>
</ol>
<br>
<br>

