---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined 
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}  -->

<ol>
<li> <b>Interpretable deep learning for deconvolutional analysis of neural signals.</b> <br> Tolooshams B*, <b>Matias S*</b>, Wu H, Temereanca S, Uchida N, Murthy VN, Masset P, Ba D <br> <i>Neuron</i>, 12:S0896-6273(25)00119-9. DOI: [10.1016/j.neuron.2025.02.006](doi.org/10.1016/j.neuron.2025.02.006). PMID: 40081364 </li>
<li> Lowet AS, Zheng Q, Meng M, <b>Matias S</b>, Drugowitsch J, Uchida N (2025). An opponent striatal circuit for distributional reinforcement learning. <i>Nature</i> 639, 717–726. DOI: [10.1038/s41586-024-08488-5](doi.org/10.1038/s41586-024-08488-5) </li>
<li> Qian L*, Burrell M*, Hennig JA, <b>Matias S</b>, Murthy VN, Gershman SJ, Uchida N (2025). Prospective contingency explains behavior and dopamine signals during associative learning. <i>Nature Neuroscience</i>. DOI: [10.1038/s41593-025-01915](doi.org/10.1038/s41593-025-01915) </li>
<li> Amo R, <b>Matias S</b>, Yamanaka A, Tanaka KF, Uchida N, Watabe-Uchida M (2022). A gradual temporal shift of dopamine responses mirrors the progression of temporal difference error in machine learning. <i>Nature Neuroscience</i>, 25 (8), 1082-1092. DOI: [10.1038/s41593-022-01109-2](doi.org/10.1038/s41593-022-01109-2)PMCID: PMC9624460 </li>
<li> Lowet AS, Zheng Q, <b>Matias S</b>, Drugowitsch J, Uchida N (2020). Distributional Reinforcement Learning in the Brain. <i>Trends in Neurosciences</i>, 43 (12): 980-997. DOI: [10.1016/j.tins.2020.09.004](doi.org/10.1016/j.tins.2020.09.004). PMCID: PMC8073212 </li>
<li> <b>Matias S*</b>, Lottem E*, Dugué GP, Mainen ZF (2017). Activity patterns of serotonin neurons underlying cognitive flexibility. <i>eLife</i>, 6:e20552. DOI: [10.7554/eLife.20552](doi.org/10.7554/eLife.20552). PMCID: PMC5360447. Data in the Dryad Repository with DOI: [10.5061/dryad.649nk](doi.org/10.5061/dryad.649nk) </li>
<li> Correia PA, <b>Matias S</b>, Mainen ZF (2017). Stereotaxic adeno-associated virus injection and cannula implantation in the dorsal raphe nucleus of mice. <i>Bio-protocol</i>, 7 (18), e2549-e2549. DOI: [doi.org/10.21769/BioProtoc.2549](10.21769/BioProtoc.2549). PMCID: PMC5633075 </li>
<li> Lopes G, Bonacchi N, Frazão J, Neto JP, Atallah BV, Soares S, Moreira L, <b>Matias S</b>, Itskov PM, Correia PA, Medina RE, Calcaterra L, Dreosti E, Paton JJ, Kampff AR (2015). Bonsai: an event-based framework for processing and controlling data streams. <i>Frontiers in neuroinformatics</i>, 9. DOI: [10.3389/fninf.2015.00007](doi.org/10.3389/fninf.2015.00007). PMCID: PMC4389726 </li>
<li> Tecuapetla F, <b>Matias S</b>, Dugué GP, Mainen ZF, Costa RM (2014). Balanced activity in basal ganglia projection pathways is critical for contraversive movements. <i>Nature Communications</i>, 5:4315. DOI: [10.1038/s41593-022-01109-2](doi.org/10.1038/s41593-022-01109-2). PMCID: PMC4102112 </li>
<li> Dugué GP, Lörincz ML, Lottem E, Audero E, <b>Matias S</b>, Correia PA, Léna C, Mainen ZF (2014). Optogenetic recruitment of dorsal raphe serotonergic neurons acutely decreases mechanosensory responsivity in behaving mice. <i>PloS One</i>, 9(8): e105941. DOI: [10.1371/journal.pone.0105941](doi.org/10.1371/journal.pone.0105941) PMCID: PMC4141837 </li>
<li> Figueira JR, Almeida-Dias J, <b>Matias S</b>, Roy B, Carvalho MJ, Plancha CE (2011). Electre Tri-C, a multiple criteria decision aiding sorting model applied to assisted reproduction. <i>International Journal of Medical Informatics</i>, 80(4). DOI:[10.1016/j.ijmedinf.2010.12.001](doi.org/10.1016/j.ijmedinf.2010.12.001). PMID: 21295515 </li>
</ol>

