---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined 
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}  -->

Selected

1.	Tolooshams B*, Matias S*, Wu H, Temereanca S, Uchida N, Murthy VN, Masset P, Ba D (2025). Interpretable deep learning for deconvolutional analysis of neural signals. Neuron, 12:S0896-6273(25)00119-9. DOI: 10.1016/j.neuron.2025.02.006. PMID: 40081364

2.	Lowet AS, Zheng Q, Meng M, Matias S, Drugowitsch J, Uchida N (2025). An opponent striatal circuit for distributional reinforcement learning. Nature 639, 717–726. DOI: 10.1038/s41586-024-08488-5

3.	Lowet AS, Zheng Q, Matias S, Drugowitsch J, Uchida N (2020). Distributional Reinforcement Learning in the Brain. Trends in Neurosciences, 43 (12): 980-997. PMCID: PMC8073212.

4.	Matias S*, Lottem E*, Dugué GP, Mainen ZF (2017). Activity patterns of serotonin neurons underlying cognitive flexibility. eLife, 6:e20552. PMCID: PMC5360447. Data in the Dryad Repository with DOI: 10.5061/dryad.649nk.



Additional Published Research

5.	Qian L*, Burrell M*, Hennig JA, Matias S, Murthy VN, Gershman SJ, Uchida N (2025). Prospective contingency explains behavior and dopamine signals during associative learning. Nature Neuroscience. DOI: 10.1038/s41593-025-01915.

6.	Amo R, Matias S, Yamanaka A, Tanaka KF, Uchida N, Watabe-Uchida M (2022). A gradual temporal shift of dopamine responses mirrors the progression of temporal difference error in machine learning. Nature Neuroscience, 25 (8), 1082-1092. PMCID: PMC9624460.

7.	Correia PA, Matias S, Mainen ZF (2017). Stereotaxic adeno-associated virus injection and cannula implantation in the dorsal raphe nucleus of mice. Bio-protocol, 7 (18), e2549-e2549. PMCID: PMC5633075.

8.	Lopes G, Bonacchi N, Frazão J, Neto JP, Atallah BV, Soares S, Moreira L, Matias S, Itskov PM, Correia PA, Medina RE, Calcaterra L, Dreosti E, Paton JJ, Kampff AR (2015). Bonsai: an event-based framework for processing and controlling data streams. Frontiers in neuroinformatics, 9. PMCID: PMC4389726.

9.	Tecuapetla F, Matias S, Dugué GP, Mainen ZF, Costa RM (2014). Balanced activity in basal ganglia projection pathways is critical for contraversive movements. Nature Communications, 5:4315. PMCID: PMC4102112.

10.	Dugué GP, Lörincz ML, Lottem E, Audero E, Matias S, Correia PA, Léna C, Mainen ZF (2014). Optogenetic recruitment of dorsal raphe serotonergic neurons acutely decreases mechanosensory responsivity in behaving mice. PloS One, 9(8): e105941. PMCID: PMC4141837

11.	Figueira JR, Almeida-Dias J, Matias S, Roy B, Carvalho MJ, Plancha CE (2011). Electre Tri-C, a multiple criteria decision aiding sorting model applied to assisted reproduction. International Journal of Medical Informatics, 80(4). PMID: 21295515.


