---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!--
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->

<ol>
  <li> Guest lecture: <b>Distributional Reinforcement Learning in the Brain </b>, <a href="https://beta.my.harvard.edu/course/NEURO120/2026-Spring/001"><Neuro120></a> – Introduction to Computational Neuroscience course, Harvard University. Cambridge, MA, USA. Spring 2025</li> 
  <li> Instructor: <b>Animal Learning Theories </b>, Neurobiology Course, <a href="https://www.scienspur.org/">Scienspur</a>, MA, USA. Fall and Spring 2023-2025
  <li> Teaching assistant: The Discipline of Neuroscience (<a href="https://pinphd.hms.harvard.edu/training/curriculum"><NEUROBIO2015B></a>), Spring 2023, Graduate Program in Neuroscience, Harvard Medical School, MA, USA </li>
  <li> Guest lecture: <b>Imaging and fiber-photometry techniques in Systems Neuroscience </b>,  MIT-Portugal Program, Neuroscience Module, Champalimaud Neuroscience Programme, Lisbon, Portugal. Spring 2014.</li>
</ol>
