lecture---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}


<ol>
  <li> Guest lecture: Distributional Reinforcement Learning in the Brain, Neuro120 – Introduction to Computational Neuroscience course, Harvard University. Cambridge, MA, USA. Spring 2025</li> 
  <li> Instructor: Animal Learning Theories. Neurobiology Course, Scienspur, MA, USA. Fall and Spring 2023-2025
  <li> Teaching assistant: The Discipline of Neuroscience (NEUROBIO2015B), Spring 2023, Graduate Program in Neuroscience, Harvard Medical School, MA, USA </li>
  <li> Guest lecture: Imaging and fiber-photometry techniques in Systems Neuroscience. MIT-Portugal Program, Neuroscience Module, Champalimaud Neuroscience Programme, Lisbon, Portugal. Spring 2014.</li>
</ol>
